@model Core.DTOs.CinemaDto
@{
    ViewData["Title"] = "CreateCinema";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12 d-flex">
        <div class="col-6">
            @using (Html.BeginForm("CreateCinema", "AdminCinema", null, FormMethod.Post, false, new { }))
            {
                <div class="mb-3">
                    <label class="form-label">Tên rạp</label>
                    <input asp-for="Name" type="text" class="form-control border ps-2" id="name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Vị trí</label>
                    <input type="text" asp-for="ImageMap" class="form-control border ps-2" id="imagemap">
                </div>
                <div class="mb-3">
                    <label class="form-label">Địa chỉ</label>
                    <input asp-for="Address" class="form-control border ps-2" id="description" type="text"></input>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-20">Tạo</button>
                </div>
            }
        </div>
        <div class="col-6 d-flex justify-content-center">
            <iframe id="view-img"
                    style="display: none"></iframe>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        document.getElementById("imagemap").addEventListener("input", function (event) {
            var mapUrl = event.target.value.trim(); 
            var iframe = document.getElementById("view-img");

            if (mapUrl) {
                iframe.style.display = "block";
                iframe.src = mapUrl;
            } else {
                iframe.style.display = "none"; 
            }
        });
    </script>
}


