
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-12 col-lg-6 col-xl-7">
                <h2 class="mb-4" style="text-align: center">@ViewBag.SendMail</h2>
                <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi</p>
                <hr />
                <p>
                    Tất cả thông tin chi tiết về vé, chúng tôi đã gửi đến email của bạn
                </p>
                <p>
                    Chúc bạn có buổi xem phim vui vẻ ^^
                </p>
            </div>
        </div>
    </div>
</div>

