@model Core.DTOs.ChangePasswordDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-3" style="margin-top: 120px">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Thay đổi mật khẩu</h4>
                </div>
                <div class="card-body">
                    <hr />
                    <form method="post" asp-action="ChangePassword" asp-controller="Account">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="CurrentPassword" class="form-label text-dark">Mật khẩu hiện tại</label>
                            <input asp-for="CurrentPassword" class="form-control" placeholder="Nhập mật khẩu hiện tại" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="NewPassword" class="form-label text-dark">Mật khẩu mới</label>
                            <input asp-for="NewPassword" class="form-control" placeholder="Nhập mật khẩu mới" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ConfirmPassword" class="form-label text-dark">Nhập lại mật khẩu mới</label>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu mới" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

