@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<!-- ==========Banner-Section========== -->
<section class="banner-section">
    <div class="banner-bg bg_img bg-fixed" data-background="../movieassets/images/banner/banner01.jpg"></div>
    <div class="container">
        <div class="banner-content">
            <h1 class="title  cd-headline clip">
                <span class="d-block">book your</span> tickets for
                <span class="color-theme cd-words-wrapper p-0 m-0">
                    <b class="is-visible">Movie</b>
                </span>
            </h1>
            <p>Safe, secure, reliable ticketing.Your ticket to live entertainment!</p>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h2 class="title">movies</h2>
                    <p>Be sure not to miss these Movies today.</p>
                </div>
                <ul class="tab-menu">
                    <li class="active">
                        now showing
                    </li>
                    <li>
                        coming soon
                    </li>
                    <li>
                        exclusive
                    </li>
                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <div class="owl-carousel owl-theme tab-slider">
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie01.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">alone</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie02.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">mars</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie03.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">venus</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie04.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">horror night</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie01.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">alone</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie02.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">mars</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie03.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">venus</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie04.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">horror night</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <div class="owl-carousel owl-theme tab-slider">
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie01.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">alone</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie02.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">mars</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie03.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">venus</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="#0">
                                        <img src="~/movieassets/images/movie/movie04.jpg" alt="movie">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="#0">horror night</a>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/tomato.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <img src="~/movieassets/images/movie/cake.png" alt="movie">
                                            </div>
                                            <span class="content">88%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->
